# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.swp
*.tmp

# NuGet packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary
#!**/[Pp]ackages/repositories.config

# Azure
PublishProfiles/
*.azurePubxml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# Visual Studio Code
.vscode/

# Windows specific files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Others
*.bak
*.orig
*.tmp
*.vsmdi
*.testsettings
TestResults/
*.VisualState.xml
*.ncrunchsolution
*.ncrunchproject
*.nunit
*.coverage
*.coveragexml
*.opendb

# DotCover
.idea/.idea.*.dotCover

# TFS
$tf/

# Others
*.dbmdl
*.jfm
*.pfx
*.publishsettings
node_modules/
